<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
  <Properties>
    <Property name="baseDir">${env:ACT_PLATFORM_LOGDIR:-logs}</Property>
  </Properties>
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} - %msg%n"/>
    </Console>
    <RollingRandomAccessFile name="CliLogs"
                             immediateFlush="false"
                             fileName="${baseDir}/cli.log"
                             filePattern="${baseDir}/cli-%i.log.gz">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <!-- Roll over current log file when 50 MB is reached. -->
      <SizeBasedTriggeringPolicy size="50 MB"/>
      <!-- Keep at most 5 historic files in addition to the file currently written to. -->
      <DefaultRolloverStrategy fileIndex="min" min="1" max="5"/>
    </RollingRandomAccessFile>
  </Appenders>
  <Loggers>
    <!-- Write everything related to the CLI application to stdout. -->
    <AsyncLogger name="no.mnemonic.act.platform.cli.tools" level="info" additivity="true">
      <AppenderRef ref="stdout"/>
    </AsyncLogger>
    <!-- Everything else goes into a file for further debugging purposes. -->
    <AsyncRoot level="info">
      <AppenderRef ref="CliLogs"/>
    </AsyncRoot>
  </Loggers>
</Configuration>